/FivePDSearchSystem/.idea
/FivePDSearchSystem/FivePDSearchSystem/obj
FivePDSearchSystem/FivePDSearchSystem/bin/Debug/FivePDSearchSystem.net.dll
FivePDSearchSystem/FivePDSearchSystem/bin/Debug/FivePDSearchSystem.net.dll
